<form class="row"  data-aos="fade-up">
  <div class="col-12">
    <div class="mb-3"  data-aos="fade-left" data-aos-delay="100">
      <label for="InputName1" class="form-label">Your Name</label>
      <input type="password" class="form-control form-control-lg" id="InputName">
    </div>
  <div class="mb-3" data-aos="fade-left" data-aos-delay="300">
    <label for="InputEmail1" class="form-label">Your Email Address</label>
    <input type="email" class="form-control form-control-lg" id="InputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text small text-secondary"><strong>Optional</strong> Just share if you expect an answer.</div>
  </div>
  <div class="mb-3" data-aos="fade-left" data-aos-delay="500">
        <label for="exampleTextarea1" class="form-label">Your Message</label>
    <textarea  class="form-control rounded-1" aria-label="With textarea" rows="5" id="exampleTextarea1"></textarea>
  </div>
  <div class="mb-3 form-check py-3" data-aos="fade-left" data-aos-delay="700">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I agree that you use my data to contact me</label>
  </div>
  <button type="submit" class="btn btn-{{colorModifier}} btn-xl shadow me-1 mb-5"  data-aos="fade-left" data-aos-delay="900">Submit Message</button>
</div>
</form>
