<div class="{% if (darkMode) %} bg-black {% else %}bg-light{% endif %} rounded p-5  overflow-x-hidden" data-aos="fade-left">
  <div class="on-hover d-inline">
    <img loading="lazy" src="img/webp/person_3_sm.webp" width="80" height="80" class="rounded-circle mb-4 shadow-sm mt-2 mt-xxl-4 hoh img-fluid" alt="A image of Jane Doe">
    <img loading="lazy" src="img/webp/person_4_md.webp" width="80" height="80" class="rounded-circle mb-4 shadow-sm mt-2 mt-xxl-4 soh" alt="Another image of Jane Doe">
  </div>
  <h1 class="fw-lighter {% if (darkMode) %} text-white {% else %}text-black{% endif %} ">
    <strong>Welcome to my design universe!</strong>
    I'm Jane, a Stockholm-based digital product designer with a love for crafting beautiful and functional interfaces.</h1>
  <p class="lead py-4">
    Whether it's web or mobile, I'm here to create the perfect user experience for your brand. Hire me and let's make something awesome!</p>
<div class="row d-flex align-items-center mb-2 mb-xxl-4 text-center text-sm-start mx-0">
  <a class="btn btn-{{colorModifier}} btn-xl shadow col-12 col-sm-auto" href="{{ 'contact.html' | url }}" data-aos="fade-left" data-aos-delay="200">Let´s chat!
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ms-2" viewbox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>
  </a>
  <a href="aboutme.html" class="ms-0 ms-sm-3 mt-3 mt-sm-0 col-12 col-sm-auto p-0 {% if (darkMode) %} link-light {% else %}link-dark{% endif %} "  aria-label="Link to my About page" data-aos="fade-left" data-aos-delay="300">More about me</a>
</div>
</div>
<div class="py-vh-3 overflow-x-hidden">
  <h2 class="h6 mb-4 px-4" data-aos="fade-left" data-aos-delay="0">Side Projects:</h2>
  <div class="d-flex align-items-center p-4" data-aos="fade-left">
    <div class="me-4">
      <img loading="lazy" src="img/webp/bck1_xs.webp" width="80" height="80" class="rounded-circle shadow-sm" alt="An image of my sitesproject website">
    </div>
    <div class="flex-grow-1">
      <h3 class="h5"><a href="#" class="{% if (darkMode) %} link-light {% else %}link-dark{% endif %} link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-underline-dark">Wall-AI - AI generated Wallpapers for free</a></h3>
      <p>My personal collection of hand- and AI crafted Wallpapers. Made for everyone, free and Open Sourced plus the Prompt´s I use.</p>
    </div>
  </div>
  <div class="d-flex align-items-center my-2 p-4" data-aos="fade-left" data-aos-delay="200">
    <div class="me-4">
      <img loading="lazy" src="img/webp/sample4_xs.webp" width="80" height="80" class="rounded-circle shadow-sm" alt="Another image of another sitesproject website">
    </div>
    <div class="flex-grow-1">
      <h3 class="h5"><a href="#" class="{% if (darkMode) %} link-light {% else %}link-dark{% endif %} link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-underline-dark">3DArt - The 3D Meetup</a></h3>
      <p>A virtual exchange of 3D artist while playing VR Dart. It´s fun! Everyone can join and hangout with us. Every first Monday of the month.</p>
    </div>
  </div>
  <div class="d-flex align-items-center p-4"data-aos="fade-left" data-aos-delay="400">
    <div class="me-4">
      <img loading="lazy" src="img/webp/sample6_xs.webp" width="80" height="80" class="rounded-circle shadow-sm" alt="Another image of another sitesproject website">
    </div>
    <div class="flex-grow-1">
      <h3 class="h5"><a href="#" class="{% if (darkMode) %} link-light {% else %}link-dark{% endif %} link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-underline-dark">BirdTree - Freelancer Hangout Space</a></h3>
      <p>My brand new startup idea. I build it in public and a lot of stuff going around there. So check it out and play around!</p>
    </div>
  </div>
</div>
