<nav id="navScroll" class="navbar navbar-expand-lg  {% if (darkMode) %} navbar-light {% else %}navbar-dark{% endif %} d-flex"  tabindex="0">
    {% include 'snippets/navbar-brand.njk' %}
    <div class="col-auto ps-2 ms-2" id="navbarSupportedContent">
      <ul class="nav ms-auto mb-2 mb-lg-0 ms-2 list-inline list-unstyled">
      {% include 'snippets/navbar-content.njk' %}
    </ul>
    </div>
</nav>
