<a class="navbar-brand d-flex align-items-center flex-grow-1 link-opacity-50-hover {% if (darkMode) %} link-light {% else %}link-dark{% endif %}" {% if (darkMode) %} href="{{ 'index-dark.html' | url }}" {% else %}href="{{ 'index.html' | url }}"{% endif %}>
  <div class="fw-bold fs-4">Jane Doe</div>
</a>
