---
title: Write me a Mail!
layout: layouts/system.njk
colorModifier: black
bodyModifier: d-flex h-100 w-100
bgimg: bck1
permalink: "aboutme.html"
---
<div class="row d-flex justify-content-center align-items-end py-vh-3">
  <div class="col-6">
    <img src="img/webp/person_4_md.webp" class="rounded shadow-sm img-fluid">
  </div>

  <div class="col-4">
    <img src="img/webp/person_3_md.webp" class="rounded shadow-sm img-fluid">
  </div>

  <div class="col-4">
    <img src="img/webp/bck1.webp" class="rounded shadow-sm img-fluid mt-5">
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-12 col-xl-10 col-xxl-8 mt-3">
<h1>More about me</h1>
<h2>Objective</h2>
 <p class="lead">A highly creative and skilled designer with over 5 years of experience in creating visually appealing and user-friendly designs. Seeking a challenging position that allows me to utilize my skills and experience in creating innovative designs that exceed client expectations.</p>

 <h3>Skills</h3>
 <ul>
   <li>Proficient in Adobe Creative Suite (Photoshop, Illustrator, InDesign)</li>
   <li>Skilled in web design using HTML, CSS, and JavaScript</li>
   <li>Knowledge of UI/UX design principles</li>
   <li>Experience with responsive design and mobile app design</li>
   <li>Strong attention to detail and ability to work efficiently under pressure</li>
   <li>Excellent communication and interpersonal skills</li>
 </ul>

 <h3>Experience</h3>
 <h4>Freelance Designer</h4>
 <p>Till today</p>
 <ul>
   <li>Collaborated with clients to understand their design needs and requirements</li>
   <li>Created designs for various mediums including web, print, and mobile</li>
   <li>Developed UI/UX design solutions that enhance user experience</li>
   <li>Designed logos, brochures, posters, and other marketing materials</li>
   <li>Managed multiple projects simultaneously and met project deadlines</li>
   <li>Worked with clients to revise designs and ensure their satisfaction with the final product</li>
 </ul>

 <h4>Graphic Designer</h4>
 <p>2002 - 2022</p>
 <p>Beta AB, Sweden</p>
 <ul>
   <li>Designed marketing materials for print and web</li>
   <li>Collaborated with marketing and sales teams to develop effective design solutions</li>
   <li>Developed design concepts and ideas to meet project goals</li>
   <li>Created layouts for brochures, advertisements, and other marketing materials</li>
   <li>Edited and retouched images for various design projects</li>
 </ul>

 <h3>Education</h3>
 <p>Bachelor of Fine Arts in Graphic Design</p>
 <p>School of life</p>
 <p>Jun 2008</p>

 <h3>Certifications</h3>
 <ul>
   <li>Adobe Certified Expert in Photoshop</li>
   <li>Adobe Certified Expert in Illustrator</li>
 </ul>

 <h3>References</h3>
 <p>Available upon request.</p>
</div>
</div>
