---
title: Have something to share? Write me!
layout: layouts/system.njk
colorModifier: white
bodyModifier: d-flex h-100 w-100
bgimg: bck6
permalink: "contact-dark.html"
darkMode: yes
---
<h1  data-aos="fade-left" data-aos-delay="0">{{title}}</h1>
{% include 'snippets/contact_form.njk' %}
