---
title: The legal stuff
layout: layouts/system.njk
colorModifier: black
bodyModifier: d-flex h-100 w-100
bgimg: bck5
permalink: "imprint.html"
---
<div class="row d-flex justify-content-center">
  <div class="col-12 col-xl-10 col-xxl-8 mt-3">
<h1>And now: The legal stuff! 🥳</h1>
<p class="lead pb-5 border-bottom mv-5"><strong>Name:</strong> Jane Doe<br>
      <strong>Address:</strong> Sample Street 123, Stockholm<br>
      <strong>Email:</strong> jane@doe.ai<br>
      <strong>Phone:</strong> 0012 345 678 9</p>
   <p class="pt-5">Responsible for the content according to § 55 Abs. 2 RStV: Jane Doe</p>
   <p>Disclaimer: Despite careful control of the content, I assume no liability for the content of external links. The content of the linked pages is the sole responsibility of their operators.</p>
   <p>Copyright: The content and works created by me on these pages are subject to Swedish copyright law. The duplication, processing, distribution, or any kind of exploitation outside the limits of copyright law requires the prior written consent of the respective author or creator.</p>
   <p>Data protection: The use of my website is usually possible without providing personal information. If personal data (e.g. name, address, or email addresses) is collected, this is always done on a voluntary basis. This data will not be passed on to third parties without your express consent.</p>
   <p>Design and development: Jane Doe, Stockholm, Sweden</p>
   <p>Thank you for considering my services.</p>
</div>
</div>
