---
title: Abstract HTML Template - Frontpage one
eleventyExcludeFromCollections: true
layout: layouts/default.njk
colorModifier: black
stickyNav: yes
bodyModifier:
---
<div class="w-100 position-relative">
  {% include "code/hero2.njk" %}
</div>

<div class="container py-vh-2 position-relative">
  <div class="row">
    {% include "code/trust1.njk" %}
  </div>
</div>

<div class="bg-black text-white position-relative overflow-hidden border-top">
  <div class="container py-vh-0 position-relative">
    <div class="row">
      {% include "code/feature5.njk" %}
    </div>
  </div>
</div>

<div class="overflow-hidden position-relative">
  <div class="position-absolute top-100 start-50 translate-middle text-secondary opacity-25">
    {% include 'svg/target.njk' %}
  </div>
  <div class="position-relative">
    <div class="container py-vh-4 position-relative">
      <div class="row d-flex justify-content-center">
        {% include "code/trust2.njk" %}
      </div>
    </div>
  </div>
</div>

<div class="bg-white overflow-hidden">
  <div class="position-relative">
    <div class="position-absolute top-50 start-50 translate-middle col-9 h-100 gradient-1 filter-blur-2 opacity-33"></div>
    <div class="container py-vh-4 position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-10 text-center mb-5">
          <p class="text-primary">It´s as easy as ordering a pizza</p>
          <h3 class="display-4 mb-3">Setup your team in three easy steps</h3>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        {% include "code/feature9.njk" %}
      </div>
    </div>
  </div>
</div>

<div class="position-relative bg-black text-white overflow-hidden">
  <div class="position-absolute top-50 start-50 translate-middle text-dark opacity-75">
    {% include 'svg/target.njk' %}
  </div>
  <div class="container py-vh-5 position-relative">
    <div class="row d-flex align-items-center justify-content-between">
      {% include "code/feature2.njk" %}
    </div>
  </div>
</div>

<div class="bg-white py-vh-4">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-8 text-center mb-5">
        <p class="text-primary">You have some money. We need some money.</p>
        <h3 class="display-4 mb-3">A simple price for everyone</h3>
      </div>
      <div class="col-10">

        {% include "code/pricing1.njk" %}
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-vh-4 pt-0">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col">
        {% include "code/faq1.njk" %}
      </div>
    </div>
  </div>
</div>

<div class="bg-white textblack py-vh-5  position-relative overflow-hidden">
  <div class="position-absolute top-50 start-50 translate-middle col-9 h-100 gradient-1 filter-blur-2 opacity-33"></div>
  <div class="position-absolute top-50 start-50 translate-middle text-white opacity-50">
    {% include 'svg/target.njk' %}
  </div>
  <div class="container position-relative">
    <div class="row  d-flex justify-content-center">
      <div class="col-10">
        {% include "code/cta1.njk" %}
      </div>
    </div>
  </div>
</div>

<div class="bg-black text-white">
  <div class="container py-vh-4">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8 text-center">
        <h3 class="fs-2 fw-light">Stay in touch with our<span class="fw-bold">
            monthly and free</span>
          newsletter!</h3>
      </div>
      <div class="col-12 col-lg-8 text-center">
        <div class="row">
          {% include "code/newsletterform2.njk" %}
        </div>
      </div>
    </div>
  </div>
</div>
