---
title: Welcome!
layout: layouts/system.njk
colorModifier: white
bodyModifier: d-flex h-100 w-100
bgimg: bck2
permalink: "index-dark.html"
darkMode: yes
---
{% include 'snippets/index_content.njk' %}
