<div class="col p-0 border-dark rounded shadow position-relative overflow-hidden">
  <div class="blob-4 bg-pink w-25 h-50 position-absolute mt-n5 ms-n5 start-50 filter-blur-3"></div>
    <div class="blob-1 bg-danger w-25 h-50 position-absolute mt-5 ms-n5 start-50 bottom-0 filter-blur-3"></div>
  <div class="col-12 border-bottom border-dark rounded-top p-3 bg-black">
    <span class="text-danger">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-circle-fill" viewbox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    </span>
    <span class="text-warning mx-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-circle-fill" viewbox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    </span>
    <span class="text-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-circle-fill" viewbox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    </span>
  </div>
  <div class="col p-4 rounded-bottom bg-gray-900 text-white">
    <div class="row">
      <div class="col text-center border-end border-dark">
        <img src="{{ '/img/person1.jpg' | url }}" width="96" class="img-fluid rounded-circle border border-primary border-2 blip mb-3" data-aos="fade-up"/>
        <h3 class="h5">Samanther Jones</h3>
        <p>Frontend Dev</p>
        <a href="#" class="mb-3">View resume</a>
      </div>
      <div class="col py-3">
        <div class="h6">Availability</div>
        <span>Instant</span>
        <div class="h6 mt-3 pt-3 border-top border-dark">Rate</div>
        <span>$90/hr</span>
        <div class="h6 mt-3 pt-3 border-top border-dark">Skills</div>
        <span class="badge bg-pink me-2">JavaScript</span><span class="badge bg-pink me-2">TypeScript</span><span class="badge bg-pink me-2">Tailwind</span><span class="badge bg-pink me-2">React</span>
        <span class="badge bg-pink me-2">Gatsby</span>
      </div>
    </div>
  </div>
</div>
