
<div class="overflow-scroll position-relative pt-0 ms-5 ps-5">
  <div class="translate-x d-flex align-items-top">
      <div class="me-3">
        <img src="img/office8.jpg" width="400">
      </div>
      <div class="mx-3">
        <img src="img/desk1.jpg" width="400">
      </div>
      <div class="mx-3">
        <img src="img/desk2.jpg" width="400">
      </div>
      <div class="mx-3">
        <img src="img/team2.jpg" width="400">
      </div>
      <div class="mx-3">
        <img src="img/office2.jpg" width="400">
      </div>
      <div class="mx-3">
        <img src="img/office4.jpg" width="400">
      </div>
      <div class="mx-3">
        <img src="img/office9.jpg" width="400">
      </div>
  </div>
</div>
