
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
<div class="row d-flex justify-content-between align-items-center">
  <div class="col-lg-5">
    <div role="button" href="#" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="link-dark d-block active border-top py-4 border-dark" aria-current="true" aria-label="Slide 1">
      <h6>Build team structure</h6>
      <p>Select the size, structure and name of your new team.</p>
    </div>
    <div role="button" href="#" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="link-dark d-block border-top py-4 border-dark" aria-current="true" aria-label="Slide 1">
      <h6>Add team members</h6>
      <p>Drag and drop team members to your new team.</p>
    </div>
    <div role="button" href="#" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="link-dark d-block border-top py-4 border-dark" aria-current="true" aria-label="Slide 1">
      <h6>Deploy your team</h6>
      <p>One more click and you are ready to go.</p>
    </div>


</div>
<div class="col-lg-7 bg-black text-light rounded-4 p-5 text-center">
  <div class="carousel-inner">
     <div class="carousel-item active text-start">
<h4>Your team setup:</h4>


       <div class="row p-3 border-bottom border-top border-dark d-flex align-items-stretch"  data-aos="flip-up" data-aos-delay="0">
         <div class="col-auto border-end border-dark d-flex align-items-center justify-content-center">
           <span class="h3 text-secondary">#1</span>
        </div>
         <div class="col-auto border-end border-dark d-flex align-items-center">
           <img src="img/person1.jpg" width="72" height="72" class="img-fluid rounded-circle" data-aos="fade" data-aos-delay="200">
        </div>
        <div class="col-4 border-end border-dark">
          <span class="small text-secondary">Name:</span><span>Jane Doe</span><br/>
          <span class="small text-secondary">Role:</span><span>Product Lead</span><br/>
                    <span class="small text-secondary">Availability:</span><span> 6M</span>
        </div>
        <div class="col-auto justify-content-center d-flex align-items-center px-3">
          <span>Rate per day<br/>
          <span class="small">$</span><span class="h1">650</span>
        </div>

    </div>




    <div class="row p-3 border-bottom border-top border-dark d-flex align-items-stretch"  data-aos="flip-up" data-aos-delay="500">
      <div class="col-auto border-end border-dark d-flex align-items-center justify-content-center">
        <span class="h3 text-secondary">#2</span>
     </div>
      <div class="col-auto border-end border-dark d-flex align-items-center">
        <img src="img/person3.jpg" width="72" height="72" class="img-fluid rounded-circle" data-aos="fade" data-aos-delay="700">
     </div>
     <div class="col-4 border-end border-dark">
       <span class="small text-secondary">Name:</span><span>Jess Doe</span><br/>
       <span class="small text-secondary">Role:</span><span> Frontend Dev</span><br/>
                 <span class="small text-secondary">Availability:</span><span> 6M</span>
     </div>
     <div class="col-auto justify-content-center d-flex align-items-center px-3">
       <span>Rate per day<br/>
       <span class="small">$</span><span class="h1">750</span>
     </div>

 </div>





 <div class="row p-3 border-bottom border-top border-dark d-flex align-items-stretch" data-aos="flip-up" data-aos-delay="1000">
   <div class="col-auto border-end border-dark d-flex align-items-center justify-content-center">
     <span class="h3 text-secondary">#3</span>
  </div>
   <div class="col-auto border-end border-dark d-flex align-items-center">
     <img src="img/person2.jpg" width="72" height="72" class="img-fluid rounded-circle" data-aos="fade" data-aos-delay="1200">
  </div>
  <div class="col-4 border-end border-dark">
    <span class="small text-secondary">Name:</span><span>John Doe</span><br/>
    <span class="small text-secondary">Role:</span><span> UX Designer</span><br/>
              <span class="small text-secondary">Availability:</span><span> 6M</span>
  </div>
  <div class="col-auto justify-content-center d-flex align-items-center px-3">
    <span>Rate per day<br/>
    <span class="small">$</span><span class="h1">600</span>
  </div>

</div>

     <div class="carousel-item">
text2
     </div>
     <div class="carousel-item">
text3
     </div>
   </div>
</div>
</div>
</div>
