<footer class="bg-black text-secondary">
  <div class="container small border-top border-dark">
    <div class="row py-5 d-flex justify-content-between">

<div class="col-12 col-lg-6 col-xl-3 border-end border-dark p-5">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
  </svg>
  <address class="mt-3">
    <strong class="text-white">Abstract, Inc.</strong><br>
    1355 Market St, Suite 900<br>
    San Francisco, CA 94103<br>
    <abbr title="Phone">P:</abbr>
    (123) 456-7890
  </address>
</div>
<div class="col-12 col-lg-6 col-xl-3 border-end border-dark p-5">
  <h3 class="h6 mb-3 text-white">Company</h3>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link link-secondary ps-0" aria-current="page" href="#">Lorem ipsum</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary ps-0" href="#">Dolor sitam est</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary ps-0" href="#">Sed odio cras</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  link-secondary ps-0" href="#">Commodo tortor ac</a>
    </li>
  </ul>
</div>
<div class="col-12 col-lg-6 col-xl-3 border-end border-dark p-5">
  <h3 class="h6 mb-3 text-white">Products</h3>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link  link-secondary ps-0" aria-current="page" href="#">Fusce dapibus est</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary ps-0" href="#">Donec sed dui</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary ps-0" href="#">Tortor mauris</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  link-secondary ps-0" href="#">Ut fermentum massa</a>
    </li>

    <li class="nav-item">
      <a class="nav-link  link-secondary ps-0" href="#">Magna mollis</a>
    </li>
  </ul>
</div>
<div class="col-12 col-lg-6 col-xl-3 p-5">
  <h3 class="h6 mb-3 text-white">Subpages</h3>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link  link-secondary ps-0" aria-current="page" href="{{ '404.html' | url }}">404 System Page</a>
      <a class="nav-link  link-secondary ps-0" aria-current="page" href="{{ 'register.html' | url }}">Register System Page</a>
            <a class="nav-link  link-secondary ps-0" aria-current="page" href="{{ 'content.html' | url }}">Simple Text Content Page</a>
    </li>
  </ul>
</div>
</div>
</div>

<div class="container text-center py-3 small">Made by <a href="https://templatedeck.com" class="link-light" target="_blank">templatedeck.com</a>
</div>
</footer>
