<div class="container position-relative">

  <div class="row">
    <div class="col-lg-7 py-vh-4 pb-5 position-relative" data-aos="fade-right">
      <h1 class="display-1 fw-bold mt-5 lh-1">Work where and when you want!</h1>
      <p class="lead my-4">To be honest, this is just a stupid placeholder text. We don´t know how to sell anything, not even lesser or slower as you.</p>
      <a href="#" class="btn btn-{{colorModifier}} btn-xl shadow mb-5">Get started free</a>
    </div>

  </div>
</div>
<div class="overflow-scroll position-relative pt-0 ms-5 ps-5">
  <div class="translate-x d-flex align-items-top">
      <div class="me-3">
        <img src="img/office8.jpg" width="400">
      </div>
      <div class="mx-3">
        <img src="img/desk1.jpg" width="400">
      </div>
      <div class="mx-3">
        <img src="img/desk2.jpg" width="400">
      </div>
      <div class="mx-3">
        <img src="img/team2.jpg" width="400">
      </div>
      <div class="mx-3">
        <img src="img/office2.jpg" width="400">
      </div>
      <div class="mx-3">
        <img src="img/office4.jpg" width="400">
      </div>
      <div class="mx-3">
        <img src="img/office9.jpg" width="400">
      </div>
  </div>
</div>
