<div class="position-relative">
      {% include 'snippets/tagslist.njk' %}


  <div class="container">
    <div class="row py-vh-4 position-relative d-flex justify-content-between align-items-center">
      <div class="col-lg-5">
        <span class="fs-5">Lorem ipsum dolor</span>
        <h1 class="display-huge lh-1 mb-4 fw-bold">Work like you live</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <a href="#" class="btn btn-{{colorModifier}} btn-xl rounded-pill shadow me-3">Get started free</a>
      </div>
      <div class="col-lg-7">
        <div class="row g-5">
          <div class="col-6 pt-5 position-relative">
              <div class="position-absolute top-0 start-0 bg-primary blob-1 filter-blur-1 animation-rotate "></div>
              <div class="position-absolute bottom-0 start-50 bg-info blob-2 filter-blur-1 animation-rotate "></div>
                            <div class="position-absolute start-100 end-0 bg-success blob-3 filter-blur-1 animation-rotate "></div>
        <img src="img/image1.jpg" class="img-fluid shadow mt-5 position-relative rounded-3" data-aos="fade-up">
        <img src="img/image3.jpg" class="img-fluid shadow mt-5 position-relative rounded-3" data-aos="fade-up" data-aos-delay="200">
      </div>
      <div class="col-6">
    <img src="img/image9.jpg" class="img-fluid shadow position-relative rounded-3" data-aos="fade-up" data-aos-delay="400">
    <img src="img/image7.jpg" class="img-fluid shadow mt-5 position-relative rounded-3" data-aos="fade-up" data-aos-delay="600">
  </div>
</div>

      </div>
    </div>
  </div>
</div>
