<div class="row d-flex align-items-center">
  <div class="col-4 bg-light p-5 rounded-start" data-aos="flip-right" data-aos-delay="0">
        <h2 class="mb-4">Standard</h2>
    <h3 class="display-3">
      <span class="fs-5">$</span><span>19</span><span class="fs-5 text-secondary">/mo</span>
    </h3>
    <a href="#" class="btn btn-xl btn-black">Be standard</a>
    <ul class="list-unstyled small mt-5">
      <li class="border-bottom pb-4">
    <div class="d-inline me-1">{% include 'svg/check.svg' %}</div>
        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</li>
      <li class="border-bottom py-4">
    <div class="d-inline me-1">{% include 'svg/check.svg' %}</div>
        Lorem ipsum dolor sit amet. At vero eos et accusam et justo duo dolores et ea rebum. </li>
      <li class="pt-4">
    <div class="d-inline me-1">{% include 'svg/check.svg' %}</div>
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </li>
    </ul>
  </div>
  <div class="col-8 bg-black rounded text-white overflow-hidden shadow position-relative">
    <div class="row">
      <div class="col-6 p-5 position-relative" data-aos="flip-up" data-aos-delay="250">
        <h2 class="mb-4 display-5">Pro</h2>
        <h3 class="display-3">
          <span class="fs-5">$</span><span>999</span><span class="fs-5 text-secondary">/mo</span>
        </h3>
            <a href="#" class="btn btn-xl btn-light">Be a Professional</a>
            <ul class="list-unstyled mt-5 small text-secondary">
              <li class="border-bottom pb-4 border-secondary">
            <div class="d-inline me-1">{% include 'svg/check.svg' %}</div>
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</li>
              <li class="border-bottom py-4 border-secondary">
            <div class="d-inline me-1">{% include 'svg/check.svg' %}</div>
                Lorem ipsum dolor sit amet. At vero eos et accusam et justo duo dolores et ea rebum. </li>
              <li class="py-4 border-bottom border-secondary">
            <div class="d-inline me-1">{% include 'svg/check.svg' %}</div>
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </li>
                <li class="pt-4 border-secondary">
              <div class="d-inline me-1">{% include 'svg/check.svg' %}</div>
                  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </li>
            </ul>
      </div>
      <div class="col-6 bg-white text-black p-5 position-relative" data-aos="zoom-up" data-aos-delay="500">
                <div class="position-absolute top-0 start-0 w-100 h-100 gradient-1 filter-blur-3 opacity-50"></div>
<div class="position-relative">
        <h4>All Standard features + this Pro features:</h4>
        <ul class="list-unstyled mt-5">
          <li class="border-bottom  border-dark pb-4">
        <div class="d-inline me-1">{% include 'svg/check.svg' %}</div>
            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</li>
          <li class="border-bottom border-dark py-4">
        <div class="d-inline me-1">{% include 'svg/check.svg' %}</div>
            Lorem ipsum dolor sit amet. At vero eos et accusam et justo duo dolores et ea rebum. </li>
          <li class="pt-4">
        <div class="d-inline me-1">{% include 'svg/check.svg' %}</div>
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </li>
        </ul>
      </div>
      </div>
    </div>

  </div>
</div>
