<div class="bg-black text-white"> <div class="container py-vh-4 pb-0"> <div class="row d-flex justify-content-center text-center "> <div class="col-10"> <p class="text-primary">Relax. We do your job so your team can make our job</p> <h3
class="display-4">We take care of your team</h3> </div> </div> </div> </div> <div class="position-relative py-vh-3 bg-black text-white"> <div class="position-absolute top-50 start-50 translate-middle text-light opacity-50"> {% include
'svg/target.njk' %} </div> <div class="container position-relative"> {% include "code/feature8.njk" %} </div> </div>
