<div class="col-12 mb-5 text-center">
  <span class="fs-6">Trusted by these amazing companies:</span>
</div>
<div class="col" data-aos="zoom-in" data-aos-duration="250" data-aos-offset="500">
      {% include 'svg/logo3.svg' %}
</div>
<div class="col" data-aos="zoom-in" data-aos-duration="750" data-aos-offset="500">
      {% include 'svg/logo2.svg' %}
</div>

<div class="col" data-aos="zoom-in" data-aos-duration="1250" data-aos-offset="500">
      {% include 'svg/logo1.svg' %}
</div>

<div class="col" data-aos="zoom-in" data-aos-duration="1750" data-aos-offset="500">
      {% include 'svg/logo4.svg' %}
</div>

<div class="col" data-aos="zoom-in" data-aos-duration="2250" data-aos-offset="500">
      {% include 'svg/logo5.svg' %}
</div>
